.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.dateFilter {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-primary);
  background-color: rgba(0,0,0,0.03);
  padding: 8px;
  border-radius: 4px;
}

.dateFilter span {
  font-weight: 400;
  font-size: 0.75rem;
}

.chartArea {
  flex: 1;
  min-height: 200px;
  margin-top: 10px;
}
